* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(180deg, #0b0033, #14005c);
  color: white;
}

/* ocupa a tela toda */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 25px;
}

.card h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.card h1 span {
  color: #ffd700;
}

.card p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #ccc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1c0a6b;
  color: white;
  font-size: 14px;
}

.form button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #5a6cff, #7b5cff);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.register {
  margin-top: 20px;
  font-size: 13px;
}

.register a {
  color: #ffd700;
  text-decoration: none;
}